

/* Header */
header {
    background-color: white;
    padding: 30px;
    position: sticky;
    top: 0;
    opacity: 0.8;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
}

.header.hideHeader {
    display: none;
}

.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1960px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation li a {
    list-style: none;
    font-size: large;
    font-weight: bolder;
}

.logo {
    width: 140px;
    height: auto;
}

header button {
    width: 150px;
    height: 40px;
    background-color: rgb(49, 51, 150);
    color: white;
    font-size: large;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* body */

/* body {
    background-color: rgb(33, 25, 54);
} */


/* sign up */

.header_right {
    display: flex;
    align-items: center;
}

.formsection {
    padding: 150px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(179, 170, 170);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#registration div input {
    font-size: 24px;
}

#registration button {
    width: 300px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
}

#registration button:hover {
    background-color: gray;
}


.errortext {
    color: red;
    font-size: 24px;
}

.passworddiv {
    display: flex;
    align-items: center;
}

/* Burger Bar */

.NavBarHide {
    display: none;
}

.Burger_menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;


}

.Burger_menu span,
.Burger_menu span::before,
.Burger_menu span::after {
    background-color: black;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.Burger_menu span::before,
.Burger_menu span::after {
    content: '';
}

.Burger_menu span::before {
    top: -10px;
    width: 27px;
}

.Burger_menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}

.Burger_menu span::after {
    left: 0px;
    top: 10px;
    width: 27px;
}

.Burger_menu.close_burger span::before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

.Burger_menu.close_burger span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

.Burger_menu.close_burger span::after {
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

.Burger_nav {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

.Burger_nav.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background-color: blue;
    color: white;
}

.Burger_nav ul {
    padding: 0;
    
}

.Burger_nav ul li a {
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 10px;
}

.buttonHide {
    opacity: 0;
}



/* Home page */


/* S1 */
.S1 {
    width: 100%;
    background-color: rgb(33, 25, 54);
}
.About_the_food_restaurant {
    max-width: 1330px;
    margin: 0 auto;
    padding-top: 100px;
}

.About_the_food_restaurant div {
    text-align: center;
    
}

.About_the_food_restaurant div p {
    font-size: large;
    font-weight: 500;
    color: rgb(80, 80, 80);

}

.s1_maintext {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    margin-bottom: 50px;
}

.s1_imgdivs {
    display: flex;
    justify-content: space-between;
}

.s1_img2 {
    margin-top: 50px;
}

.s1_img {
    margin-bottom: 50px;
}


.s1_text {
    font-size: xx-large;
    font-weight: bolder;
    background-color: yellow;
    padding: 20px 40px;
    border: black 3px solid;
    border-radius: 15px;
    color: black;
}

.s1_img, .s1_img2 {
    max-width: 325px;
}

.s1_img, .s1_img2 {
    max-width: 325px;
} 




/* S2 */

.S2 {
    color: white;
    padding: 50px 0;
    max-width: 100%;
    height: 830px;
    padding-top: 100px;
    background-color: rgb(33, 25, 54);
}

.s2_maindiv {
    max-width: 1330px;
    height: 700px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    border: black 3px solid;
    border-radius: 30px;
}

.s2_div1 {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    text-align: center;
}

.active {
    background-color: orange;
    padding: 30px;
    border-radius: 25px;
}

.s2_miniDiv {
    cursor: pointer;
}

.s2_miniDiv p {
    font-size: large;
    font-weight: bolder;
    margin-top: 10px;
}


.s2_div2 {
    display: flex;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}


.s2_imgdiv img {
    border-radius: 20px;
}

.s2_descr {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}

.hide {
    display: none;
}

.steak {
    width: 400px;
}


/* Slider */
.S3 {
    width: 100%;
    background-color: rgb(33, 25, 54);
}
.S3_div {
    color: white;
    max-width: 1330px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 100px 0;
}

.S3_div h2 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.splide__slide img {
    width: 300px;
}

.splide__slide h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
}

.splide__slide p {
    font-size: 24px;
    font-weight: bold;
    color: darkgreen;
}

.splide__slide {
    padding-top: 25px;
}

.splide {
    height: 400px;
}


/* Footer */

.footer_div {
    display: flex;
    gap: 50px;
    width: 240px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.footer_div p {
    font-size: 20px;
    
}




/* About Page */

/* accordion chefs */

.About_s1 {
    width: 100%;
}


.Chefs_container {
    display: flex;
    max-width: 1330px;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 auto;
    /* background-color: black; */
}

.chef {
    max-width: 300px;
    text-align: center;
}

.chef img {
    width: 300px;
    height: 395px;
}

.accordion_btn {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: solid black 2px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.accordion_btn:hover {
    background-color: orange;
}

.accordion_content {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 4px;
    transition: max-height 0.6s ease-in-out;

    /* background-color: gray; */
    /* padding: 0 10px; */
}

.accordion_content.On {
    max-height: 200px;
    /* padding: 10px; */
}

.accordion_content h3 {
    font-size: 24px;
    font-weight: bolder;
}

.accordion_content h4 {
    font-size: 20px;
    font-weight: bold;
}


/* About_s2 */


.About_s2_container {
    max-width: 1330px;
    margin: 0 auto;
    background-color: rgb(245, 245, 125);
    margin-top: 100px;
}

.About_s2_top {
    padding: 20px;
    margin-bottom: 40px;
}

.About_s2_top p {
    color: green;
    margin-bottom: 10px;
}

.About_s2_top h2 {
    font-size: 36px;
    font-weight: bold;
}

.About_s2_left {
    padding: 20px;
}

.About_s2_left_divs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.About_icondivs {
    width: 65px;
    height: 65px;
    background-color: green;
    border-radius: 50%;
    position: relative;
}

.About_icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_s2_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.About_s2_right {
    padding: 20px;
}



/* scroll to top */

.scrool_to_top {
    width: 75px;
    height: 75px;
    background-color: blue;
    position: relative;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    opacity: 0.7;
    cursor: pointer;
}

.fa-arrow-up {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* menu */

.MenuMainDiv {
    max-width: 1330px;
    margin: 0 auto;
    /* background-color: lightblue; */
    height: 700px;
    margin-top: 100px;
}

.MenuMainDiv input {
    margin: 30px;
    padding: 10px 20px;
}

.MenuMainDiv h2 {
    font-size: 32px;
    color: green;
    font-weight: bold;
    padding: 20px;
}

#menuContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


#menuContainer div h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#menuContainer div p {
    font-size: 18px;
    margin-bottom: 5px;
}

#menuContainer div {
    margin-bottom: 25px;
}


/* cookie */

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #eee;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.cookie-consent.show {
  opacity: 1;
  visibility: visible;
}

.cookie-consent .cookie-consent-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cookie-consent .consent-btn {
  background: #c0851a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.95rem;
  margin-left: 12px;
}

.cookie-consent .consent-btn:hover {
  background: #a56e14;
}






/* responsive */


@media only screen and (max-width:1024px) {
    .navigation {
        display: none;
    }
    /* s1 */
    .s1_img_text {
        max-width: 250px;
    }
    .s1_img_text img {
        max-width: 250px;
    }
    /* s2 */
    .s2_maindiv {
        max-width: 800px;
    }
    .s2_descr {
        font-size: 20px;
    }
    .s2_imgdiv img {
        max-width: 300px;
    }
    .s2_miniDiv img {
        width: 40px;
    }


    /* s1 ABOUT */
    .chef {
        max-width: 250px;
    }
    .chef img {
        max-width: 250px;
        height: auto;
    }
    .About_s2_right iframe {
        width: 400px;
    }
    .About_s2_container {
        max-width: 800px;
    }


    /* Menu */ 

    #menuContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    
}


@media only screen and (max-width: 768px) {
    header button {
        width: 100px;
        height: 30px;
        font-size: medium;
    }
    /* s1 */
    .s1_imgdivs {
        flex-direction: column;
        align-items: center;
    }
    .s1_img_text h2 {
        font-size: 20px;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .s1_img {
        margin-bottom: 25px;
    }
    .s1_img2 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    /* s2 */
    .s2_maindiv {
        max-width: 400px;    
        height: 500px;
    }
    .s2_descr {
        font-size: 14px;
    }
    .s2_imgdiv img {
        max-width: 200px;
    }
    .s2_miniDiv img {
        width: 25px;
    }
    .active {
        padding: 15px;
    }

    /* s3 */
    .splide__slide img {
        width: 150px;
    }
    .splide__slide h3 {
        font-size: 20px;
    }
    .splide__slide p {
        font-size: 16px;
    }


    /* s1 ABOUT */
    .Chefs_container {
        flex-direction: column;
        align-items: center;
    }
    .About_s2_right iframe {
        width: 200px;
        height: 200px;
    }
    .About_icondivs {
        width: 40px;
        height: 40px;
    }
    .About_s2_top h2 {
        font-size: 24px;
    }
    .About_s2_top p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    /* header */
    header button {
        width: 40px;
        height: 30px;
        font-size: small;
    }
    .logo {
        width: 100px;
    }
    .burger_menu {
        width: 20px;
        height: 20px;
    }

    /* s2 */
    .s2_maindiv {
        max-width: 300px;    
        height: 400px;
    }
    .s2_descr {
        font-size: 10px;
    }
    .s2_imgdiv img {
        max-width: 150px;
    }
    .s2_miniDiv img {
        width: 20px;
    }
    .active {
        padding: 12px;
    }
    .s2_div1 {
        gap: 10px;
    }
    .S2 {
        height: 600px;
    }

    /* s3 */
    .S3_div h2 {
        font-size: 24px;
    }
    .splide__slide img {
        width: 100px;
    }
    .splide__slide h3 {
        font-size: 16px;
    }
    .splide__slide p {
        font-size: 12px;
    }
    .splide {
        height: 250px;
    }

    /* s2 ABOUT */

    .About_s2_right iframe {
        width: 100px;
        height: 100px;
    }
    .About_s2_left_divs {
        gap: 10px;
    }
    .About_s2_left_divs p {
        font-size: 12px;
    }
    .About_icondivs {
        width: 25px;
        height: 25px;
    }
    .About_icondivs i {
        font-size: 12px;
    }

    /* Menu */
    #menuContainer div h3 {
        font-size: 16px;
    }
    #menuContainer div p {
        font-size: 12px;
    }
    .MenuMainDiv h2 {
        font-size: 24px;
    }
    .MenuMainDiv input {
        padding: 5px 10px;
    }
}

















.footer_S {
    background-color: lightgray;
}



